.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


#container {
  width: 600px;
  margin: 20% auto 0 auto;
}

.racer_table {
  margin-left: 32px;
}

.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  border-right: solid 2px black;
}

.racer_table td.active {
  background-color: yellow;
}

button {
  padding: 0;
  width: 200px;
  height: 40px;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-color: white;
  font-weight: bold;
}

#options {
  margin: 20px auto;
  width: 200px;
}

