<div id="container">
  <table class="racer_table">
    <tr id="player1_strip">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>    
    </tr>
    <tr id="player2_strip">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>  
    </tr>
  </table>
  <!-- <div id="options">
    <button id="reset">Play again? (Play again!)</button>
  </div> -->
  <form method="POST" action="/game" id="results">
    <input type="hidden" name="winner" value="">
    <input type="hidden" name="duration" value="">
  </form>
  </div>
