<div id="player_name">
  <form method="POST" action="/player<%= player_number %>" id="initials" data-validate="parsley">
    <p class="blink">PLAYER <%= player_number %></p>
    <p>Enter your initials!</p>
    <input type="text" name="player<%= player_number %>" data-minlength="3" data-maxlength="3" autofocus />
    <input type="submit" value="GO!" />
  </form>
</div>
